/* -----------------Reset CSS---------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}

strong{
	font-weight: bold;
}

ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

caption,th {text-align: left;}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#222;
}

q:before,q:after {content:'';}

abbr,acronym { border: 0;}

video, iframe, object {display: block;}


/* -------------------General CSS-------------------- */
body{
	font-family: arial,helvetica;
	color: #222;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

h1 {font-size: 6em;}

p {font-size: 2em;}

.intro p {
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

.section h1, .section h2{
	text-align:center;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

button {
  width: auto;
  font-size: 1.7rem;
  text-align: center;
  color: white;
  background-color: #e82d2d;
  padding: 20px 30px;
  display: block;
  cursor: pointer;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
  border-radius: 20px;
  border: none;
  margin: 0 auto;
  outline: none;
}
button:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

/*------------- Select/Input/Textarea/Form ---------------*/
select, input {
  width: 200px;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  display: block;
  border: 1px solid #dddddd;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
}
select:hover, input:hover {
  border-color: #e82d2d;
}
select:focus, input:focus {
  outline: none;
  box-shadow: 0 0 5px #e82d2d;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
	min-width: 200px;
	min-height: 40px;
	display: block;
  	border: 1px solid #dddddd;
  	margin: 10px auto 20px;
}

textarea:hover {
  border-color: #e82d2d;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #e82d2d;
}

label {
  vertical-align: middle;
  font-weight: normal;
}

.inlined{
	display: inline-block;
	width: 20%;
	float: left;
	margin: 0 5%;
}

/*------------- Checkbox ---------------*/

input[type=radio] {
    width:35px;
    height: 35px;
    border-radius:50%;
    border: 1px solid #eb5f2d;
    float: right;
    position: relative;
}

input[type=radio]:after{
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  background:url(../images/tick.png) no-repeat center;
  background-size: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}

input[type=radio]:checked {border-color: #ded9cd; background-color: #fff;}

input[type=radio]:checked:after {opacity: 1;}



/* -------------------Overwriting styles for the navigation dots (to place it where we want)-------------------- */
.fullPage-slidesNav.bottom{
	bottom: 25px;
}

/* ----------------Bottom menu----------------------- */

#slide1 {
  background-color: #bda2fa;
}

#slide2 {
	background-color: #f2e394;
}

#slide3 {
	background-color: #8bcad9;
}

#slide4 {
	background-color: #ff8f4e;
}

#slide5 {
	background-color: #6ae1aa;
}

#slide6 {
	background-color: #f294af;
}

.slide h2{
  font-size: 2em;
  margin-bottom: 30px;
}

.slide-content{
	width: 80%;
	margin: 0 auto;
	height: 100%;
	margin-top: 100px;
}

.field{
  display: block;
  margin-bottom: 35px;
  font-size: 1.4em;
  border: 1px solid white;
  padding: 25px 0;
  border-radius: 20px;
}

.field input{
  float:left;
  margin-right: 10px;
  position: relative;
}

.field input:before{
  content:"";
  width:100px;
  height: 100px;
  position: absolute;
  display: block;
  left: 0;  
}

.wrapper{
  width:100%;
}

.beast, .beast-build{
  width:25%;
 display: inline-block;
 float: left;
 margin-right: 5%;
}

.beast img, #daveWrapper{
  width:100%;
  height: auto;
  display: block;
}

.beast-wrapper{
  width: 100%;
  position: relative;
}

.beast-wrapper span{
  display: block;
  position: absolute;
  z-index: 1;
  width:100%;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  margin: auto;

}

#beastHead .value-1{
  background: url("head_q1.png") center no-repeat;
  background-size: cover;
}

.answers{
  width: 70%;
  display: inline-block;
  float: left;
  margin-top: 30px;
}

.send-btn {
  margin-top: 50%;
}

/* ------------------Layout CSS--------------------- */



