<div id="fullpage">
  <form id="answers" method="post">
    <!-- <section class="section " id="section0">
      <div class="intro">
        <h1>Intro text</h1>
        <p>Please leave us your feedback..</p>
        <button data-target="#section1">Click here</button>
      </div>
    </section> -->
    <section class="section" id="section1">
      <div class="slide" id="slide-into" data-anchor="slide-into">
        <div class="intro centered">
          <h1>Intro text</h1>
          <p>Please leave us your feedback..</p>
        </div>
      </div>


        <div class="slide" id="slide1" data-anchor="slide1">
        <div class="slide-content">
          <h2 class="question">When the doctors and nurses talked to you about your care, did you understand more about what was going on? Was this really important for you?</h2>
          <div class="wrapper">
            <div class="beast">
              <img src="images/dave_q1.png" id="q1Img">
            </div>
            <div class="answers">
                <div id="q1a1" class="field"
                  ng-class="beastHeadVal === '1' ? 'active' : ''">
                    <i></i>
                    <input id="q1a1-input" type="radio" name="q1"  value="1"
                    ng-model="beastHeadVal">
                    <label for="q1a1-input">Yes, I understood more, and this gave me a real boost in confidence!</label>
                </div>
                <div id="q1a2" class="field"
                  ng-class="beastHeadVal === '2' ? 'active' : ''">
                    <i></i>
                    <input id="q1a2-input" type="radio" name="q1"
                    value="2"
                    ng-model="beastHeadVal">
                    <label for="q1a2-input">Yes, I understood more but I still had lots of questions. I knew the doctors and nurses were busy so I didn’t want to ask them.</label>
                </div>
                <div id="q1a3" class="field"
                  ng-class="beastHeadVal === '3' ? 'active' : ''">
                    <i></i>
                    <input id="q1a3-input" type="radio" name="q1"
                    value="3"
                    ng-model="beastHeadVal">
                    <label for="q1a3-input">Yes, but when I knew more about what was happening around me it made me scared</label>
                </div>
                <div id="q1a4" class="field"
                  ng-class="beastHeadVal === '4' ? 'active' : ''">
                    <i></i>
                    <input id="q1a4-input" type="radio" name="q1"
                    value="4"
                    ng-model="beastHeadVal">
                    <label for="q1a4-input">No, I didn’t understand everything the doctors and nurses said, but they were really nice and that’s what counts!</label>
                </div>
              </div>
          </div>
        </div>
      </div>

        <div class="slide" id="slide2" data-anchor="slide2">
          <div class="slide-content">
          <h2 class="question">When you felt scared, sad or uncomfortable, was it easy to share your feelings?</h2>
          <div class="wrapper">
            <div class="beast">
              <img src="images/dave_q2.png" id="q2Img">
            </div>
            <div class="answers">
                <div id="q2a1" class="field"
                  ng-class="beastHeartVal === '1' ? 'active' : ''">
                    <i></i>
                    <input id="q2a1-input" type="radio" name="q2"
                      value="1"
                      ng-model="beastHeartVal">
                    <label for="q2a1-input">Yes, and people listened to me.</label>
                </div>

                <div id="q2a2" class="field"
                  ng-class="beastHeartVal === '2' ? 'active' : ''">
                    <i></i>
                    <input id="q2a2-input" type="radio" name="q2"
                      value="2"
                      ng-model="beastHeartVal">
                    <label for="q2a2-input">Not at first, but after getting to know people at the ward it was way easier.</label>
                </div>

                <div id="q2a3" class="field"
                  ng-class="beastHeartVal === '3' ? 'active' : ''">
                    <i></i>
                    <input id="q2a3-input" type="radio" name="q2"
                      value="3"
                      ng-model="beastHeartVal">
                    <label for="q2a3-input">No, because I wanted to be brave.</label>
                </div>

                 <div id="q2a4" class="field"
                  ng-class="beastHeartVal === '4' ? 'active' : ''">
                    <i></i>
                    <input id="q2a4-input" type="radio" name="q2"
                      value="4"
                      ng-model="beastHeartVal">
                    <label for="q2a4-input">No, I tried to share my feelings but I felt like no one understood what I was trying to say.</label>
                </div>

                 <div id="q2a5" class="field"
                  ng-class="beastHeartVal === '5' ? 'active' : ''">
                    <i></i>
                    <input id="q2a5-input" type="radio" name="q2"
                      value="5"
                      ng-model="beastHeartVal">
                    <label for="q2a5-input">No, I didn’t want my family to worry about me.</label>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="slide" id="slide3" data-anchor="slide3">
        <div class="slide-content">
          <h2 class="question">The hospital can be boring sometimes. Was there enough for you to do?</h2>
          <div class="wrapper">
            <div class="beast">
              <img src="images/dave_q3.png" id="q3Img">
            </div>
            <div class="answers">
                <div id="q3a1" class="field"
                  ng-class="beastHandsVal === '1' ? 'active' : ''">
                    <i></i>
                    <input id="q3a1-input" type="radio" name="q3"
                      value="1"
                      ng-model="beastHandsVal">
                    <label for="q3a1-input">I wasn’t bored so it didn’t matter!</label>
                </div>

                <div id="q3a2" class="field"
                  ng-class="beastHandsVal === '2' ? 'active' : ''">
                    <i></i>
                    <input id="q3a2-input" type="radio" name="q3"
                      value="2"
                      ng-model="beastHandsVal">
                    <label for="q3a2-input">No, I wish there were more books to read.</label>
                </div>

                <div id="q3a3" class="field"
                  ng-class="beastHandsVal === '3' ? 'active' : ''">
                    <i></i>
                    <input id="q3a3-input" type="radio" name="q3"
                      value="3"
                      ng-model="beastHandsVal">
                    <label for="q3a3-input">No, I wish there were more movies and TV shows to watch.</label>
                </div>

                <div id="q3a4" class="field"
                  ng-class="beastHandsVal === '4' ? 'active' : ''">
                    <i></i>
                    <input id="q3a4-input" type="radio" name="q3"
                      value="4"
                      ng-model="beastHandsVal">
                    <label for="q3a4-input">No, I wish there were more video games to play!</label>
                </div>

                <div id="q3a5" class="field"
                  ng-class="beastHandsVal === '5' ? 'active' : ''">
                    <i></i>
                    <input id="q3a5-input" type="radio" name="q3"
                      value="5"
                      ng-model="beastHandsVal">
                    <label for="q3a5-input">Yes, there were totally enough books, movies and games so there were plenty of things for me to do!</label>

                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="slide" id="slide4" data-anchor="slide4">
        <div class="slide-content">
          <h2 class="question">How was the food?</h2>
          <div class="wrapper">
            <div class="beast">
              <img src="images/dave_q4.png" id="q4Img">
            </div>
            <div class="answers">
                <div id="q4a1" class="field"
                  ng-class="beastBellyVal === '1' ? 'active' : ''">
                    <i></i>
                    <input id="q4a1-input" type="radio" name="q4"
                      value="1"
                      ng-model="beastBellyVal">
                    <label for="q4a1-input">It was okay. It’s not really a big deal.</label>
                </div>

                <div id="q4a2" class="field"
                  ng-class="beastBellyVal === '2' ? 'active' : ''">
                    <i></i>
                    <input id="q4a2-input" type="radio" name="q4"
                      value="2"
                      ng-model="beastBellyVal">
                    <label for="q4a2-input">To be honest I wasn’t that hungry.</label>
                </div>

                <div id="q4a3" class="field"
                  ng-class="beastBellyVal === '3' ? 'active' : ''">
                    <i></i>
                    <input id="q4a3-input" type="radio" name="q4"
                      value="3"
                      ng-model="beastBellyVal">
                    <label for="q4a3-input">So good, yum!</label>
                </div>

                 <div id="q4a4" class="field"
                  ng-class="beastBellyVal === '4' ? 'active' : ''">
                    <i></i>
                    <input id="q4a4-input" type="radio" name="q4"
                      value="4"
                      ng-model="beastBellyVal">
                    <label for="q4a4-input">So gross, yuck!</label>
                </div>

                 <div id="q4a5" class="field"
                  ng-class="beastBellyVal === '5' ? 'active' : ''">
                    <i></i>
                    <input id="q4a5-input" type="radio" name="q4"
                      value="5"
                      ng-model="beastBellyVal">
                    <label for="q4a5-input">It was good but it never came on time!</label>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="slide" id="slide5" data-anchor="slide5">
        <div class="slide-content">
          <h2 class="question">What did you think of your space at the ward?</h2>
          <div class="wrapper">
            <div class="beast">
              <img src="images/dave_q5.png" id="q1Img">
            </div>
            <div class="answers">
                <div id="q5a1" class="field"
                  ng-class="beastLegsVal === '1' ? 'active' : ''">
                    <i></i>
                    <input id="q5a1-input" type="radio" name="q5"
                      value="1"
                      ng-model="beastLegsVal">
                    <label for="q5a1-input">It was pretty comfy but it didn’t look very nice.</label>
                </div>

                <div id="q5a2" class="field"
                  ng-class="beastLegsVal === '2' ? 'active' : ''">
                    <i></i>
                    <input id="q5a2-input" type="radio" name="q5"
                      value="2"
                      ng-model="beastLegsVal">
                    <label for="q5a2-input">It looked okay but I wasn’t really comfy in my space.</label>
                </div>

                <div id="q5a3" class="field"
                  ng-class="beastLegsVal === '3' ? 'active' : ''">
                    <i></i>
                    <input id="q5a3-input" type="radio" name="q5"
                      value="3"
                      ng-model="beastLegsVal">
                    <label for="q5a3-input">It was cool! I was comfy and I liked the way it looked! I felt at home.</label>
                </div>

                <div id="q5a4" class="field"
                  ng-class="beastLegsVal === '4' ? 'active' : ''">
                    <i></i>
                    <input id="q5a4-input" type="radio" name="q5"
                      value="4"
                      ng-model="beastLegsVal">
                    <label for="q5a4-input">It was rubbish, it wasn’t comfy and it didn’t look nice.</label>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="slide" id="slide6" data-anchor="slide6">
        <div class="slide-content">

          <div class="wrapper">
            <div ng-if="!hasSubmit">
              <button type="submit" class="bigbtn send-btn"
                ng-click="save()">Send feedback</button>
            </div>
            <div ng-if="hasSubmit">
              <div class="beast-build">
                <div class="beast-wrapper">
                  <span id="beastHead"
                    ng-class="beastHeadVal ? 'value-' + beastHeadVal : ''"></span>
                  <span id="beastHands"
                    ng-class="beastHandsVal ? 'value-' + beastHandsVal : ''"></span>
                  <span id="beastHeart"
                    ng-class="beastHeartVal ? 'value-' + beastHeartVal : ''"></span>
                  <span id="beastBelly"
                    ng-class="beastBellyVal ? 'value-' + beastBellyVal : ''"></span>
                  <span id="beastLegs"
                    ng-class="beastLegsVal ? 'value-' + beastLegsVal : ''"></span>
                </div>
                <button type="submit" class="bigbtn restart-btn"
                  ng-click="restart()">Restart</button>
                <img src="images/dave_wrapper.png" id="daveWrapper">
              </div>
              <div class="answers centered">
                <h1>Thank you for your time</h1>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </form>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#fullpage').fullpage({
      // anchors: ['firstPage', 'secondPage', '3rdPage'],
      slidesColor: ['#f2f2f2', '#d9899e', '#EAE1C0'],
      slidesNavigation: true,
      keyboardScrolling: false,
      // menu: '#menu'
    });
  });
</script>